form {
  margin: 20px 0;
}
.form-label {
  text-align: center;
  font-size: 1.5rem;
}
#countryh1 {
  font-family: Roboto;
  text-align: center;
}
#Active {
    grid-area: 1/1/span 2/ span 2;
}
#Deaths {
    grid-area: 1/5/span 2/span 2;
}
#Deaths img {
    max-height: 70%;
}
#countrysearch {
    grid-area:1/3/span 2/span 2;
}
#mobiledate {
    display:none;
}
