form {
  margin: 20px 0;
}
#datesearch {
    display: flex;
    flex-direction: column;
}
.form-label {
  text-align: center;
  font-size: 1.5rem;
}
#countryh1 {
  display: flex;
  font-family: Roboto;
  text-align: center;
  align-items: center;
  height: 100%;
  justify-self:center;
}
#Active {
    grid-area: 2/1/span 1/ span 1;
}
#Deaths {
    grid-area: 2/3 /span 1/span 1;
}
#Deaths img {
    max-height: 50%;
}
#datesearch {
    grid-area:2/9/span 1/span 3;
}
#Date {
  grid-area: 1 / 1 /span 1/ span 3;
  justify-content: center;
}
#Confirmed {
    grid-area: 3/1/span 1/span 1;
    justify-content:center;
}
#mobiledate {
    display:none;
}
#Recovered {
    grid-area:3/2/span 1/span 1;
    justify-content:center;
}
h1 img {
  max-height: 60px;
  width: auto;
}
#country h5{
}
cardheader {
  font-weight: 600;
}
#lineChartCountry {
    grid-area: 3 / 1/span 2/span 7;
    box-shadow: rgb(0 0 0/ 35%) 0px 5px 15px;
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
    height: 100%; 
}
@media only screen and (max-width: 600px) {
    maincovid {
        grid-template: 50px 100px 200px 80px 400px/1fr;
        justify-items: center;
    }
    .visualcovid {
        grid-area: 5 / 1 / span 1 /span 1;
        grid-template: 100px 150px repeat(6, 75px)/ 320px;
        margin: 0px;
        max-width: 100%;
    }
    .visualcovid > div {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    #Date {
      grid-area: 1/1/span 1/span 1;
      justify-content: space-around;
    }
    #Active {
        grid-area:2/1/span 1/span 1;
    }
    #Deaths{
        grid-area:3/1/span 1/span 1;
    }
    #Recovered{
        grid-area:5/1/span 1/span 1;
        justify-content: space-around;
    }
    #Confirmed {
      grid-area: 4/1/span 1/span 1;
        justify-content: space-around;
      }
    .visualcovid > #country {
        display: none;
        grid-area: 2/1/span 1 / span 1;
        display: flex;
        flex-direction: column;
    }
    #country img{
        max-width:20%;
    }
    #datesearch {
        margin: 5px 10px;
        display:flex;
        flex-direction:column;
        align-items: center;
        grid-area: 4 / 1 / span 1/span 1;
        width: 95%;
    }
    #datesearch > label {
      font-size: 1.5rem;
    }
    maincovid h1 {
      font-size: 1.5rem;
      grid-area: 1/1/span 1/span 1;
    }
    maincovid #lineChartWorld {
      grid-area: 3/1/span 1/span 1;
      margin: 0;
    }
    #world-value-select {
      grid-area: 1/1/span 1/span 1;
    }
    maincovid .btn {
      max-width: 20%;
      max-height: 60%;
    }
    h1 img {
      height: 100%;
    }
    #Active img {
      height: 50%;
    }


}
