/* Resetting CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #E2E9EF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CONTENTS
 * 1 Main body
 * 2 Header
 * 3 Hero
 * 4 Footer
 */

/* 1 MAIN */
main {
    background-color: white;
    display:grid;
    grid-template-rows: 400px 400px 100px;
    grid-template-columns: repeat(12, 1fr);
}
header {
    display: flex;
    padding: 50px auto;
    height: 150px;
    justify-content: center;
    align-items: center;
    background: rgb(66,88,122);
    background: radial-gradient(circle, rgba(66,88,122,1) 0%, rgba(60,64,71,1) 42%, rgba(88,94,104,1) 71%, rgba(107,142,199,1) 94%);
}
footer {
    grid-area: 3/1/4/13;
    background-color:#19212e;
  }
h1, h2, h3 {
  color: #f5b318;
  font-family: 'Roboto',sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px;
}
.card-p {
    color: #f5b318;
    text-decoration: none;
}
.card-p:hover {
    color: white;
}
.mb-0 { /* The coloring for the adder flash messages */
    color: #0f5132;
}
p {
    color:white;
    font-size: 25px;
    font-weight: 300;
    margin: 20px;
    font-family: Verdana;
    letter-spacing: 1px;
}
header p a {
    color: red;
    font-weight: bold;
}
.index-container {
    padding: 30px;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
}

.my-container {
    background-color: #336BAB;
}
.navbox {
    background-color: #19212e;
    height: 90px;
    transition: height 0.5s ease-in-out;
}
#navlist {
    display: flex;
    flex-flow: row nowrap;
    height:100%;
}

body {
    margin: 0;
}
ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    overflow: hidden;
    align-items: stretch;
}
ul.toggled {
}
li {
    overflow: visible;
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
}
ul a.brand {
    font-size: 45px;
    padding: 22px 40px;
    color: #f5b318;
    letter-spacing: 5px;
    font-family: 'Monoton', cursive;
}
ul.toggled a.brand {
    border-bottom: 1px solid white;
    position: relative;
    top: 0px;
    left: 0px;
}
.flex-con {
    display: grid;
    grid-template-rows: 500px;
}
.my-row {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(12, 1fr);
    background: rgb(66,88,122);
    background: radial-gradient(circle, rgba(66,88,122,1) 0%, rgba(60,64,71,1) 42%, rgba(88,94,104,1) 71%, rgba(107,142,199,1) 94%);
    grid-area: 1/1/2/span 12;
    height: 100%;
    align-items: center;
}
.my-row2 {
    display: grid;
    background: rgb(81,106,147);
    background: linear-gradient(90deg, rgba(81,106,147,1) 16%, rgba(25,33,46,1) 48%, rgba(107,142,199,1) 91%); 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-area: 2/1/2/span 12;
    height: 100%;
    align-items: center;
}
.img-container {
    grid-area: 1/1/3/7;
    height: 100%;
    width: 100%;
}

.row-img {
    max-height: 100%;
    width: auto;
}

.hamburger {
    display: block;
    background: #555; width: 85px; height: 78px; 
    top: 5px;
    right: 5px;
    padding: 2px;
    bottom: 5px;
    left: 75%;
    position: absolute; 
    border-radius: 4px; 
    display: none;
    opacity: 0.8;
}
.hamburger:active {
    border: 2px solid #66B2FF;
    border-radius: 5px;
}
.line { 
    position: absolute; 
    left:10px;
    top: 15px;
    height: 4px; width: 65px; 
    background: #fff; border-radius: 2px;
    display: block; 
    transition: 0.5s; 
    transform-origin: center; 
}
.line2 { 
    position: absolute; 
    left:10px;
    top: 38px;
    height: 4px; width: 65px; 
    background: #fff; border-radius: 2px;
    display: block; 
    transition: 0.5s; 
    transform-origin: center; 
}
.line3 { 
    position: absolute; 
    left:10px;
    bottom:15px;
    height: 4px; width: 65px; 
    background: #fff; border-radius: 2px;
    display: block; 
    transition: 0.5s; 
    transform-origin: center; 
}
@media only screen and (max-width: 600px) {
    ul li:not(:first-child) {display: none;}
    /*ul li:last-child {display: block;} */
    .hamburger {
        display: inline;
        position: sticky;
    }
    .line {
        display:block;
    }
    main {
        display: grid;
        grid-template: 400px 400px 100px / 1fr 1fr 1fr;
    }
}
#row2 .small-link-container{
      grid-area: 1/11/3/13;
      display:flex;
      flex-direction: column;
      height:100%;
      align-items: stretch;
      position:relative;
      width: 100%;
    }
    #row2 #small-active,#row2 #small-add, #row2 #small-finished{
      flex: 1 1 auto;
      color:white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
      font-size: 2rem;
      text-decoration: underline;
    }
@media only screen and (max-width: 600px) {
    ul.toggled li:not(:first-child) {
        display: block;
        display: flex;
    }
    /* ul.toggled li:last-child {display: block;} */
    .my-row{
        display: grid;
        grid-template-rows: 300px 100px; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-area: 1/1/2/span3; 
        align-content: center;
    }
    .my-row2{
        display: grid;
        grid-template-rows: 300px 100px; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-area: 2/1/2/span3; 
        align-content: center;
    }
    .img-container{
        grid-area: 1/1/2/4;
        height: revert;
        width: revert;
    }
    .row-img {
        max-height: 100%;
        max-width: 100%;
    }
    .index-container{
        grid-area: 2/1/3/4;
        max-width: 100%;
        max-height: 100%;
        padding:revert;
        display: flex;
        justify-content: space-around;
    }
    .index-container > h2 {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.5px;
    }
    .index-container > p {
        display:none;
    }
    .arrow-right {
        display:none;
    }
    .index-container > .shit > .arrow-right.small-screen {
        display: inline-block;
    }
    .index-container > .shit {
        display: inline-block;
    }
    .navbox.toggled {height: 500px;}
    #navlist {
        flex-flow: column nowrap;
    }
    .toggled li .dropdownbtn {
        border: none;
    }
    ul a.brand {
        position: absolute;
        left: 0px;
    }
    ul.toggled a.brand {
        left: 0px;
        border: none;
    }
    .dropdownbtn:active .dropdowncontent .dropdown-list {
        max-height: 400px;
    }
    .dropdownbtn:active .dropdowncontent {
      max-height:100%;
    }
    #row2 .small-link-container{
      grid-area: 1/1/2/2;
      display:flex;
      flex-direction: column;
      height:100%;
      align-items: stretch;
      position:relative;
      left: -150px;
      width: 130%;
    }
    #row2 #small-active,#row2 #small-add, #row2 #small-finished{
      grid-area: 1/1/2/2;
      flex: 1 1 auto;
      color:white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
    }
    .shit {
      display:none;
    }
    footer {
      grid-area: 3/1/span3/span1;
      background-color:#19212e;
  }
}
#small-links {
  display:none;
}
.small-link-container a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.small-link-container a:hover:after{
  width:100%;
}

li a {
  text-decoration: none;
  font-size: 30px;
  color: #c9c6bb;
  text-align: center;
}
/*li:nth-last-child(2) {
  border-right: none;
  position: absolute;
  right: 0;
  height: 90px;
}*/
ul.toggled li:nth-last-child(2) {
    margin: auto;
    position: relative;
    color: white;
    text-decoration: none;
}
li:first-child {
  margin-left: 0;
}

li a.active {
  background-color: green;
  color: white;
}
.dropdownbtn {
  padding: 0;
  width: 227px;
  text-decoration: none;
  height: 100%;
  text-align: center;
  color: #d4d3cd;
  font-size: 25px;
  outline: 0;
  border: 0;
  border-left: 1px solid white;
  background: inherit;
}
ul.toggled .dropdownbtn {
    color: black;
    margin-left: 0px;
}
/* This extra div is needed to position the dropdown content */
.dropdown {
  display: block;
}
ul.toggled .dropdown {
    position: relative;
    margin-right: auto;
}
.dropdowncontent {
  display: flex;
  position: absolute;
  top: 90px;
  width: inherit;
  color: black;
  max-height: 0px;
  overflow-y: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: rgba(0,0,0,.1);
}
.dropdowncontent .dropdown-list {
  display: flex;
  color: black;
  text-decoration: none;
  max-height: 0px;
  transition: max-height 0.5s ease-in-out;
  flex-direction: column;
}

#profile, #logout {
    all:revert;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    background-color: #336BAB;
    height: 80px;
}
.dropdownbtn:hover .dropdowncontent .dropdown-list {
    max-height: 400px;
}
.dropdownbtn:hover .dropdowncontent {
  max-height:100%;

}
.dropdownbtn .dropdowncontent #profile:hover, #logout:hover{
    background-color: rgba(0,0,0,1);
}
.dropdownbtn:hover .arrowup {
    animation-play-state: running;
}
@keyframes arrowhover {
    from {top: 10px;}
    to {top: 5px;}
}
.arrowup:hover {
    animation-play-state: running;
}
.arrowup {
	width: 0;
	height: 0;
	border-top: 15px solid #d4d3cd;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	position: relative;
    top: 10px;
    margin: auto;
    animation-name: arrowhover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-direction: alternate;
}
#todo-arrow {
	width: 0;
	height: 0;
	border-top: 15px solid #d4d3cd;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	position: relative;
    top: 10px;
    margin: auto;
    animation-name: arrowhover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-direction: alternate;
}

.mybox {
    width:30%;
    max-height:300px;
    max-width: 600px;
    padding: 0px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    opacity: 1;
    transition: max-height 1s;
    display: flex;
}
.mybox.hide {
    max-height: 0;
}
.lower-card {
    display:flex;
    height: 30%;
    align-items: center;
    justify-content: space-between;
    background-color: #244B78;
    position:relative;
    bottom: 2px;
}
.arrow-right {
    height: 0px;
    position: relative;
    width: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 40px solid #FCC358;
    border-radius: 5px;
    right: 0px;
}
.arrow-right.small-screen {
    display: none;
}
/*.arrow-down {
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;*/

.myimg {
    width: 100%;
    height: 70%;
}
a.overlay {
    text-decoration: none;
}
.overlay div span{
    margin-left: 10%;
    color: #c9c6bb;
    font-size: 30px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
    .mybox {
        border: 1px solid green;
        margin: 20px auto;
        width:100%;
        max-height:300px;
        background-color: white;
        padding: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        opacity: 1;
        transition: max-height 1s linear;
    }
    .mybox.hide {
    max-height: 0;
    }
}

.my-todo {
    color: white;
    background-color:#133e85;
    margin: 20px;
}
.comment-row {
}
.comment-container{
    width: 90%;
    height: 90%;
    padding: 5px;
    margin: 10px auto;
    background-color:#4c6791;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.add-comment {
    margin:auto;
}
.alert.alert-danger {
    margin-bottom: 0px;
}
.login-container{
    max-width: 500px;
}
