{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='covidcountry.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='covid.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='covidcountry.css')}}">
{% endblock %}
{% block body %}
<h1 id="countryh1">{{ country }} (total)</h1>
<!-- MOBILE -->

<form id="mobiledate" method="Post" autocomplete="off">
      <label for="exampleDataList" class="form-label">Search for date</label>
        <input class="form-control" list="datalistOptions" name="country_date" id="exampleDataList" placeholder="Type to search...">
        <datalist id="datalistOptions">
          {% for date in dates %}
          <option value="{{ date }}">
          {% endfor %}
    </datalist>
    </form>
  <div class="statcontainer">
    <table class="table caption-top table-striped table-hover" id="covidtable">
      <caption>{{country}}</caption>
        <tbody>
          {% for case, value in cases.items() %}
          <tr>
            <th scope="row">{{case}}</th>
            <td>{{value}}</td>
          </tr>
          {% endfor %}
    </table>
  </div>

  <!-- DESKTOP -->
  <div class="visualcovid">
    <form id="countrysearch" method="Post" autocomplete="off">
      <label for="exampleDataList" class="form-label">Search for date</label>
        <input class="form-control" list="datalistOptions" name="country_date" id="exampleDataList" placeholder="Type to search...">
        <datalist id="datalistOptions">
          {% for date in dates %}
          <option value="{{ date }}">
          {% endfor %}
    </datalist>
    </form>
      <div id="country">
          <img src="/static/world.png">
          <h5>Country: {{country}}</h5>
      </div>
      {% for stat, value in cases.items() %}
        <div id="{{stat}}">{{stat}}:
        <h5>{{value}}</h5>
        </div>

      {% endfor %}
  </div>
{% endblock %}
