{% extends "base.html" %}

{% block head %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    {% for category, message in messages %}
    {% if category == "error" %}
    <div class="alert alert-danger" style="margin-bottom: 0px" role="alert">
        <h4 class "alert-heading">{{ message }}</h4> 
    </div>
    {% endif %}
    {% if category != "error" %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">{{ message }}</h4> 
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}
<link rel="stylesheet" href="{{ url_for('static', filename='covid.css')}}">
<script src="{{ url_for('static', filename='covid.js') }}" defer></script>
{% endblock %}
{% block body %}
<mainCovid>
  <form id="countrySearch2" method="POST" autocomplete="off">
    <label style="font-size: 30px;"for="exampleDataList" class="form-label">Search for country</label>
    <input class="form-control" list="datalistOptions" name="country_select" id="exampleDataList" placeholder="Type to search...">
    <datalist id="datalistOptions">
      {% for country in country %}
      <option value="{{ country }}">
      {% endfor %}
    </datalist>
  </form>
  <form id="world-value-select" method="POST" >
    <select id="value-dropdown" class="form-select" name="world-value-select"aria-label=".form-select-lg example">
      <option value="NewConfirmed">Newly Confirmed Cases</option>
      <option value="TotalConfirmed">Total Confirmed Cases</option>
      <option value="NewDeaths">New Deaths</option>
      <option value="TotalDeaths">Total Deaths</option>
      <option value="NewRecovered">Newly Recovered Cases</option>
      <option value="TotalRecovered">Total Recovered Cases</option>
    </select>
    <input id="world-days-select" name="world-days-select"class="form-control" type="number" placeholder="Day Interval (max 17)">
    <button class="btn btn-primary" type="submit">Update Graph</button>
  </form>
<h1 style="text-align: center">Current total numbers</h1>
  <div class="visualcovid">
      <div id="country">
          <img src="/static/world.png">
          <h5>Country: World</h5>
      </div>
      {% for stat, value in cases.items() %}
        <div id="{{stat}}">{{stat}}:
        <h5>{{value}}</h5>
        </div>
      {% endfor %}
        <div id="current_date">
            <h4>Today's global numbers ({{ current_date }})</h4>
        </div>

  </div>
<p style="display:none" id="labeltransfer">{{ queried_value }} in the last {{nr_days}} days</p>
<p id="javaproxy" style="display:none">{{queried_value}}</p>
<p id="javaproxy2" style="display:none">{{nr_days}}</p>
<canvas id="lineChartWorld"></canvas>


<script defer>
  var ctx = document.getElementById("lineChartWorld").getContext("2d");
  var linechart = new Chart(ctx, {
          type: "line",
          data: {
                  labels: {{ dates_world | safe }},
                  datasets: [
                          {
                                  label: document.getElementById("labeltransfer").innerHTML,
                                  data: {{ values_world | safe }},
                                  fill: false,
                                  borderColor: "rgb(75, 192, 192)",
                                  lineTension: 0.1 
                          }
                          ]
                },
          options: {
                  responsive: false
                }
        });
</script>


</mainCovid>
{% endblock %}
