
body {
    background-color: rgba(228, 232, 237, 0.8);
}
 .navbar .navbar-nav.navbar-right .dropdown .dropdown-menu{
    background-image: url("../background.jpg");
    background-position: center;
    background-repeat: no-repeat;
} 
.navbar {
    background-image: url("../background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.nav-link {
    text-decoration: none;
    color: red;
}
.mybox {
    width:30%;
    max-height:300px;
    background-color: white;
    padding: 0px;
    margin: 0px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.lower-card {
    display:flex;
    height: 30%;
    align-items: center;
    justify-content: space-between;
}
.myimg {
    width: 100%;
    height: 70%;
}
a.overlay {
    text-decoration: none;
}
.overlay div span{
    margin-left: 10%;
    color:black;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
    .mybox {
        border: 1px solid green;
        margin: 20px auto;
        width:100%;
        height:300px;
        background-color: white;
        padding: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
}

.my-todo {
    color: white;
    background-color:#133e85;
    margin: 20px;
}
.comment-row {
}
.comment-container{
    width: 90%;
    height: 90%;
    padding: 5px;
    margin: 10px auto;
    background-color:#4c6791;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.add-comment {
    margin:auto;
}


