{% extends "base.html" %}
{% block head %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    {% for category, message in messages %}
    {% if category == "error" %}
    <div class="alert alert-danger" style="margin-bottom: 0px" role="alert">
        <h4 class "alert-heading">{{ mesage }}</h4> 
    </div>
    {% endif %}
    {% if category != "error" %}
    <div class="alert alert-success" style="margin-bottom: 0px" role="alert">
        <h4 class="alert-heading">{{ message }}</h4> 
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}
<script src="{{url_for('static', filename='main.js')}}" defer> </script>
{% endblock %}
{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<main>
    <!--
    <header>
            <h1>Welcome to the Page
            {% if current_user.is_authenticated %}
            ,{{ current_user.username }} </p>
            {% else %}
            </p>  
            <p> Click <a href="{{ url_for("auth.login") }}">here</a> to Login.</p>
            <p> Click <a href="{{ url_for("auth.register") }}">here</a> to Register.</p>
            {% endif %}
    </header>
    -->
        <div class="my-row">
            <div class="img-container">
                <img class="row-img"src="{{url_for('static', filename='virus.png') }}">
            </div>
            <div class="index-container">
                <h2 style="display:inline-block"><a class="card-p"href="{{url_for("covid.stats") }}">Corona Statistics</a></h2>
                <p>Check out recent statics.<br>Can be searched by country and date</p>
                <a class="shit"href="{{ url_for("covid.stats") }}">
                    <div class="arrow-right small-screen">
                    </div>
                </a>
                <a class="overlay" href="{{ url_for("covid.stats") }}">
                    <div class="arrow-right"></div>
                </a>
            </div>
        </div>
        <div id="row2" class="my-row2">
            <div id="todoContainer" class="img-container">
                <img class="row-img" src="{{ url_for('static', filename='todo.png') }}"style="max-height:120%; margin-left:15px">
            </div>
                <div class="index-container">
                    <h2 id="todoClick" style="display:inline-block"><a class="card-p"href="{{ url_for("main.list") }}">Todo list</a></h2>
                    <p>Manage the Todo list.<br>Add and delete Todos.<br>Comment on currently active Todos</p>
                    <a class="overlay" href="{{ url_for("main.list") }}">
                        <div class="arrow-right"></div>
                    </a>
                <a class="shit"href="{{ url_for("covid.stats") }}">
                    <div class="arrow-right small-screen">
                    </div>
                </a>
                </div>
            </div></div>
</main>
        <script>
                var todoLink = document.getElementById("imgbox5");
                todoLink.addEventListener("click", function() {
                                todoLink.classList.toggle("active");
                                var swap = document.getElementById("imgbox2");
                                swap.classList.toggle("hide");
                            });
        </script>
{% endblock %}

