{% extends "base.html" %}
{% block body %}
<div class="container pt-5">
        <div class="row">
        <p>hello, use the navigation bar on the top, dumb butt!</p>
<!--<p>The local time {{ current_time }} </p>
                <script>
                        function myfunc() {
                        const m = moment();
                        document.getElementById("myText").innerHTML = m;
                        console.log(m);
                                                }
                </script>
                <body onload="myfunc()">
                <h1>"Current time is:" <span id="myText"></span></h1> 
                -->
</div>
</div>
{% endblock %}

