{% extends "base.html" %}
{% block head %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    {% for category, message in messages %}
    {% if category == "error" %}
    <div class="alert alert-danger" role="alert">
        <h4 class "alert-heading">{{ mesage }}</h4> 
    </div>
    {% endif %}
    {% if category != "error" %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">{{ message }}</h4> 
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
{% block body %}
<div class="container pt-5">
        <div class="row">
            <p>Hello,
            {% if current_user.is_authenticated %}
            {{ current_user.username }} </p>
            {% else %}
            Stranger </p>  
            {% endif %}
        </div>
</div>
<div class="row" style=padding:10px;margin:10px">
    <div class="flex-container">
        <div class="mybox" id="imgbox1" >
            <a class="overlay" href="{{ url_for("covid.stats") }}">
                <img class="myimg" src="{{ url_for('static', filename='virus.jpg') }}">
                <div class="lower-card">
                    <span >Corona stats</span>
                    <img src="{{ url_for('static',  filename='next.png') }}"style="height:80%;width:20%;">
                </div>
            </a>
        </div>
        <div class="mybox" id="imgbox1" >
            <a class="overlay" href="{{ url_for("main.list") }}">
                <img class="myimg" src="{{ url_for('static', filename='todo.jpg') }}">
                <div class="lower-card">
                    <span>Todo-List</span>
                    <img src="{{ url_for('static',  filename='next.png') }}"style="height:80%;width:20%;">
                </div>
        </div>
        <div class="mybox" id="imgbox1" >
            <a class="overlay" href="{{ url_for("main.maos") }}">
                <img class="myimg" src="{{ url_for('static', filename='mao.jpg') }}">
                <div class="lower-card">
                    <span>Maos!</span>
                    <img src="{{ url_for('static',  filename='next.png') }}"style="height:80%;width:20%;">
                </div>
        </div>
    </div>
</div>
{% endblock %}

