  <style>

  .my-container {
        margin: 10px;
  }
  .my-small {
          font-size: .700em;
  }
  .my-item {
          border: 2px solid #333d4d;
          border-radius: 5px;
          margin: 5px;

  }
  .content {
    max-height: 0;
    color: white;
    background-color: #263142;
    margin: 0 20px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 20px;
    }
  .collapsible {
      min-height: 50px;
      color: white;
      background-color: #263142;
      border-radius: 20px;
      margin: 0 20px;

  </style>
{% extends "base.html" %} 
{% block head %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    {% if category == "error" %}
      <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">{{ message }}</h4>
                                      <script> 
                                        function mom() {
                                        var Now = moment();
                                        var eDisplayMoment = document.getElementById("displayMoment").innerHTML = Now;
                                            }
                                     </script>
      </div>
      {% endif %}
      {% if category == "add" %}
      <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">{{ message }}</h4>
                                      <script> 
                                        function mom() {
                                        var Now = moment();
                                        var eDisplayMoment = document.getElementById("displayMoment").innerHTML = Now;
                                            }
                                     </script>
      </div>
      {% endif %}
      {% if category == "completed"  %}
      <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">{{ message }}</h4>
                                      <script> 
                                        function mom() {
                                        var Now = moment().format("LLL");
                                        var eDisplayMoment = document.getElementById("displayMoment").innerHTML = Now;
                                            }
                                     </script>
                                     <body onload="mom()"><span id="displayMoment"></span></body>
                                     <p> Click <a href="{{ url_for('main.completed') }}">here</a> to see all <u>completed</u> Todos!</p>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
</div>

{% endblock %}



{% block body %}
<div class="container">
    <h1 class="text-center">Active todos</h1>
  </div>{% for todo in todos %}
  {% if todo.status == False %}
  <div class="container">
    <div class="list-group" >
        <button type="button" class="collapsible">{{ todo.name }}</button>
        <div class="content">
        <div class"my-item" style="padding-left:30px">
          <p>{{ todo.task }}</p>
      </div>
        <div class="row d-flex justify-content-center">
                <div class="col-3 text-center">
                        <p>{{ moment(todo.end_time, local=True).fromNow(true, refresh=True) }} </br>remaining</p>
                </div>
        <div class="col-6">
                <div class="text-center">
                <small class="my-small"><span class="float-right">Due at: {{ moment(todo.end_time, local=True).format("LLL") }}<br>
          Started: {{ moment(todo.start_time, local=True).fromNow(refresh=True) }}<br></small></span>
          <small class="my-small">({{ moment(todo.start_time, local=True).format("LLL") }})</small>
        </div>
        </div>
        <div class="col-2 align-items-center">
                          <form method="post">
                                  <button type="submit" class="btn btn-danger btn-sm" name="delete" value="{{ todo.id }}">Delete</button> 
                                  <button type="submit" class="btn btn-success btn-sm font-size:1rem" name="done" value="{{ todo.id }}">Done</button>
                          </form>
        </div>
        <div class="comment-row">
            <div class="comment-container">
                <div class="row">
                    <h2>Comments:</h2>
                </div>  
                <div class="row">
                    <div class="container">
                        <div class="list-group">
                            {% for post in posts %}
                                {% if post.comment.id == todo.id %}
                                <div class="my-item">
                                <h4>{{ post.author.username }} <span style="font-size: 15px">- {{ post.timestamp.strftime("%d. %b %Y %H:%M") }}</span></h4><br> 
                                <p> {{ post.body}} </p>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                        <form method="post">
                                <textarea class="form-control" name="comment_body" placeholder="Leave a comment"style="margin:auto;width:95%"></textarea>
                                <button type="submit" class="btn btn-primary" name="post_comment" value ="{{ todo.id }}"style="margin:10px 0 10px 17px">Add comment</button>
                        </form>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
  </div>{% endif %}{% endfor %} 
  </div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>


{% endblock %}
